.mykpi-container {
  display: flex;
  height: calc(100vh - 50px); /* trừ chiều cao top-bar (nếu top-bar = 50px) */
  width: 100%;
  overflow: hidden; /* tránh tràn viền */
}


.mykpi-content {
  flex: 1;
  background: #f9fafc;
  padding: 16px;
  overflow-y: auto;
}
